---
---

@import "leap-day";
header {
    padding: 25px 20px 40px 20px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: #005030 !important;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
    z-index: 99;
    -webkit-font-smoothing: antialiased;
    min-height: 76px;
}
#banner {
    z-index: 100;
    left: 0;
    right: 50%;
    height: 50px;
    margin-right: -382px;
    position: fixed;
    top: 115px;
    background: #f47321 !important;
    border: 1px solid #f47321 !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px;
}
#banner .button {
    border: 1px solid #b84807 !important;
    background: #f47321 !important;
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f47321 !important;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}